body, input, button {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
}

.google-logo {
	display: block;
	margin-left: auto;
  	margin-right: auto;
	margin-top: 40px;
}

/* Top Nav */
.navbar {
    overflow: hidden;
	margin: 8px;
	text-align: center;
}

.left-navbar a {
    float: left;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right-navbar a {
	float: right;
	color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
	text-decoration: underline;
}

/* Bottom Nav */
.footer-group {
	overflow: hidden;
    position: fixed;
	bottom: 0;
	width: 100%;
	display: block;
}

.footer-bar {
	text-align: center;
	padding: 20px;
	background-color: rgb(242, 242, 242);
}

.footer-bar a {
	color: #222;
	padding: 14px 16px;
	text-decoration: none;
	justify-content: space-evenly;
}

.footer-bar a:hover {
	text-decoration: underline;
}

.psa {
	text-align: center;
	width: 100%;
	background-color: rgb(242, 242, 242);
	padding: 20px;
}

.search-group {
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	margin-top: 15px;
}

.search-bar {
	margin-bottom: 10px;
}

.search-bar input {
	width: 60%;
	/* padding: 8px; */
	border-radius: 24px;
	border: 1px solid #dfe1e5;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
	margin: 0 auto;
	height: 44px;
	background-color: rgba(0, 0, 0, 0)
}

.search-bar input:focus {
	outline:none;
	text-indent:20px;
}

.search-group .button-group button {
	background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
	border-radius: 4px;
    color: #3c4043;
	margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}