/* Search Bar
    width: auto;
    max-width: 584px;
*/
body {
    background: #fff;
	display: block;
}

body, input, button {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 6px;
	overflow: hidden;
}
  
li {
	float: left;
}

li a {
	display: block;
	color: #222;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	text-decoration: underline;
}

.icons {
	vertical-align: middle;
	margin: auto;
}